# Ejercicio 1:
Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [ ]:
nombre = str(input("Ingresa tu nombre:")) # el str lo utilizamos para cadenas de texto (string )
matricula = int(input("Ingresa tu matricula:"))

print ("Hola" , nombre , "tu matricula es:", matricula)

Ingresa tu nombre:Sofia Ruiz
Ingresa tu matricula:1855586
Hola Sofia Ruiz  tu matricula es: 1855586

# Ejercicio 2:
Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

Utilizando el loop de while

In [ ]:
num1= float(input("Ingresa el primer número:")) #decidí que el tipo de dato sea flotante para que no haya problema alguno en las operaciones
num2= float(input("Ingresa el segundo número:"))

print(" 1 Suma  2 Resta  3 Multiplicación  4 División  5 Elevarlo a un exponente ")

op=float(input("Ingresa la operación que deseas realizar:"))

#loop de while

while op == 1:
  suma = num1 + num2
  print("El resultado de la suma es:", suma)
  break  #la instrución break pone fin al loop

while op == 2:
  resta= num1 - num2
  print("El resultado de la resta es:", resta)
  break  

while op == 3:
  mult= num1 * num2
  print("El resultado de la multiplicación es:", mult)
  break  

while op == 4:
  div= num1 / num2
  print("El resultado de la división es:", div)
  break  

while op == 5:
  x=float(input("Ingresa la potencia:"))
  exp1=pow(num1,x) #pow es una función que nos ayuda a elevar un número a cierta potencia
  exp2=pow(num2,x)
  print("El primer número elevado a la", x, "potencia es igual a:", exp1, "El segundo número elevado a la", x, "potencia es igual a:", exp2, )
  break

Ingresa el primer número:1
Ingresa el segundo número:2
 1 Suma  2 Resta  3 Multiplicación  4 División  5 Elevarlo a un exponente
Ingresa la operación que deseas realizar:3
El resultado de la multiplicación es: 2.0

# Ejercicio 3:
Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [ ]:
for i in range (3,31,3):
  print (i)

def sum (x, y):
    suma = 0
    for i in range (3,31,3):
      suma+=i
      
    return (suma)

print("La suma de los multiplos es igual a:", suma)

3
6
9
12
15
18
21
24
27
30
La suma de los multiplos es igual a: 165

# Ejercicio 4
Con una función de if else, revisar si un número es par o es impar.
Con una función de if else, revisar si un número es primo o no.

In [ ]:
print(" 1 Quiero saber si un número es par o impar  2 Quiero saber si es primo o no ")

op=int(input("Elige una opción:"))

while op == 1:
  n = int(input("Ingresa un número entero:"))

  if n % 2 == 0:
    print("El número ingresado es par")

  else:
    print("El número es impar")

  break 


while op ==2:
  x = int(input("Ingresa otro número entero "))

  cont = 0
  for i in range (1, (x+1)):
     if x % i == 0:
       cont += 1

  if cont == 2:
          print("El número ingresado es primo")

  else:
           print("El número ingresado no es primo")

  break

 1 Quiero saber si un número es par o impar  2 Quiero saber si es primo o no
Elige una opción:1
Ingresa un número entero:5
El número es impar

# Ejercicio 5
Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [54]:
class calculadora:
  num1=0
  num2=0

  def __init__(self, num1, num2):
    self.num1= float (num1)
    self.num2=float (num2) 
    def suma (self):
      return self.num1 + self.num2
    def resta (self):
      return self.num1 - self.num2
    def mult (self):
      return self.num1 * self.num2
    def div(self):
      return self.num1 / self.num2
    def exp(self):  
      return self.num1**self.num2

      num1 = float (input("Ingresa el primer número:"))
      num2 = float (input("Ingresa el segundo número:"))     

      calculadora = calculadora (num1,num2)    
      print(calculadora.suma())
      print(calculadora.resta())
      print(calculadora.mult())
      print(calculadora.div())
      print(calculadora.exp())

      print("El resultado de la suma es:", suma)
      print("El resultado de la resta es:", resta)
      print("El resultado de la multiplicación es:", mult)
      print("El resultado de la división es:", div)
      print("El resultado de elevarlo al segundo número es:", exp)

# Tuplas:

 a) Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es

In [11]:
tupla = (0.5, "Hola", 5, 1 > 0 , 4 + 5j)  #en python la parte imaginaria va a estar representada por la letra j en lugar de utilizar la i

for i in range (len(tupla)): #el método len() devuelve la longitud de un objeto
  print ("Valor: {} - tipo de dato: {}" .format(tupla[i], type (tupla[i])))

Valor: 0.5 - tipo de dato: <class 'float'>
Valor: Hola - tipo de dato: <class 'str'>
Valor: 5 - tipo de dato: <class 'int'>
Valor: True - tipo de dato: <class 'bool'>
Valor: (4+5j) - tipo de dato: <class 'complex'>

b) Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [13]:
tupla = (10, 20, 30, 40 ,50)

primerval= tupla[0]
segundoval= tupla[len(tupla)-1]  #el método len() devuelve la longitud de un objeto

print ("El primer valor de la tupla es:", primerval)
print ("El segundo valor de la tupla es:", segundoval)

El primer valor de la tupla es: 10
El segundo valor de la tupla es: 50

c)Añadir 3 valores de string a la tupla.

In [17]:
tupla =(10, 20, 30, 40, 50)

print("Tupla:", tupla)

tupla = tupla + (60, 70, 80)

print("La nueva tupla es:", tupla)

Tupla: (10, 20, 30, 40, 50)
La nueva tupla es: (10, 20, 30, 40, 50, 60, 70, 80)

d) Verificar si una variable existe dentro de la tupla.

In [21]:
tupla: (10, 20, 30, 40, 50)

print (30 in tupla)

print (100 in tupla)

True
False

# Listas:
a) Crear una lista con 40 elementos aleatorios enteros.

In [30]:
from random import randint  #randint sirve para generar numeros aleatorios enteros

lista = [randint(1,200) for _ in range(40)]

print(lista)

[93, 21, 183, 131, 163, 69, 200, 22, 45, 99, 56, 86, 69, 78, 43, 3, 39, 24, 157, 187, 165, 8, 116, 145, 75, 192, 34, 106, 189, 62, 143, 106, 35, 61, 187, 149, 182, 153, 20, 44]

# Diccionarios:


a) Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad

In [55]:
diccionario = {"Roman": 21, "Cristopher": 23, "Sofia": 20, "Gael": 10, "José": 52, "Lucero": 19}

print (diccionario)

{'Roman': 21, 'Cristopher': 23, 'Sofia': 20, 'Gael': 10, 'José': 52, 'Lucero': 19}

b) Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.

In [56]:
lista = [21, 23, 20, 10, 52, 19]

for lon in range (1,len(lista)):
  for i in range (len(lista)- lon):
    if lista[i] > lista [i+1]:
      j = lista [i]
      lista [i] = lista [i+1]
      lista [i+1] = j

print (lista)

[10, 19, 20, 21, 23, 52]

c) Usando el diccionario y un loop, imprimir solo los nombres

In [73]:
diccionario = {"Roman": 21, "Cristopher": 23, "Sofia": 20, "Gael": 10, "José": 52, "Lucero": 19}


for key,value in diccionario.items():
    print (diccionario.keys())

dict_keys(['Roman', 'Cristopher', 'Sofia', 'Gael', 'José', 'Lucero'])
dict_keys(['Roman', 'Cristopher', 'Sofia', 'Gael', 'José', 'Lucero'])
dict_keys(['Roman', 'Cristopher', 'Sofia', 'Gael', 'José', 'Lucero'])
dict_keys(['Roman', 'Cristopher', 'Sofia', 'Gael', 'José', 'Lucero'])
dict_keys(['Roman', 'Cristopher', 'Sofia', 'Gael', 'José', 'Lucero'])
dict_keys(['Roman', 'Cristopher', 'Sofia', 'Gael', 'José', 'Lucero'])

d) Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [60]:
diccionario = {"Roman": 21, "Cristopher": 23, "Sofia": 20, "Gael": 10, "José": 52, "Lucero": 19}

print("Diccionario", diccionario)

diccionario.update({"Brayan": 12, "Hector": 27}) #el método update nos ayuda a ingresar nuevos valores a nuestro diccionario

print("El nuevo diccionario es:", diccionario)

Diccionario {'Roman': 21, 'Cristopher': 23, 'Sofia': 20, 'Gael': 10, 'José': 52, 'Lucero': 19}
El nuevo diccionario es: {'Roman': 21, 'Cristopher': 23, 'Sofia': 20, 'Gael': 10, 'José': 52, 'Lucero': 19, 'Brayan': 12, 'Hector': 27}

# Sets:
a) Crea un set con 100 numeros aleatorios enteros del 1 al 25.

In [ ]:
conjunto=set()
        
for i in range (100):

    conjunto.add(random.randrage(1,25))

print(conjunto)

b)Comprueba la longitud de tu set

c) Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [ ]:
conjunto=set()
        
for i in range (5):

    conjunto.add(random.randrage(1,10))

print(conjunto)